<h1>quotes-app</h1>
<hr>
<ul>
    <div *ngFor='let quote of quotes;let i =index'>
        <li>{{quote.name}}</li>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
        <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-details>
        <button (click)="upvote(i)">
            upvote {{ quote.upvote }}</button>
        
          <button (click)="downvote(i)">
            downvote{{ quote.downvote }}</button>
            
    
    </div>
</ul>
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
